<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <table>
        <tr>
            <td colspan="2">
                {{ message }}
            </td>
        </tr>
        <tr>
            <td>
                first name
            </td>
            <td>
                <input name="firstname" placeholder="First Name">
            </td>
        </tr>
        <tr>
            <td>
                last name
            </td>
            <td>
                <input name="lastname" placeholder="Last Name">
            </td>
        </tr>
        <tr>
            <td>
                password
            </td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">submit</button>
            </td>
        </tr>
    </table>


</form>


</body>
</html>
